.box {
    border: 0.5vh solid #2E3238;
    display: flex;
    gap: 0.5vw;
    padding: 2%;
}

.menu-box {
    border: 0.5vh solid #2E3238;
    display: flex;
    gap: 0.5vw;
    justify-content: space-evenly;
    align-items: center;
}

.menu-item-box {
    display: flex;
    padding: 2%;
}

.menu-item-box:hover {
    background-color: #1a1d1f;
    padding: 2%;
}

.box.warning {
    border-color: orange;
    font-weight: bold;
}

.box.danger {
    border-color: red;
    font-weight: bold;
}