.background-black {
    background-color: #2E3238;
}

.text-black {
    color: #2E3238;
}

.background-red {
    background-color: #C0727D;
}

.text-red {
    color: #C0727D;
}

.background-blue {
    background-color: #689CB6;
}

.text-blue {
    color: #689CB6;
}

.background-beige {
    background-color: #F3DFC1;
}

.text-beige {
    color: #F3DFC1;
}

.background-white {
    background-color: #E3E3E3;
}

.text-white {
    color: #E3E3E3;
}